<div>
  <label>Title</label>
  <input type="text" name="title" value="<%= film.title%>">
</div>
<div>
  <label>Released</label>
  <input type="number" name="released" value="<%= film.released%>">
</div>
<div>
  <label>Genre</label>
  <input type="text" name="genre" value="<%= film.genre%>">
</div>
<div>
  <label>Rating</label>
  <input type="number" name="rating" value="<%= film.rating%>" step=".01">
</div>
<div>
  <label>Runtime</label>
  <input type="text" name="runtime" value="<%= film.runtime%>">
</div>
