<h1>Films</h1>

<a href="/films/new">Add new Film</a>

<h3>Search Films</h3>
<form action="/films" method="GET">
  <label>Title</label>
  <input type="text" name="title" value="<%= searchOptions.title %>">
  <button type="submit">Search</button>
</form>

<br>

<% films.forEach(film => { %>
  <div><%= film.title %></div>
  <div>
    <a href="/films/<%= film.id%>">View</a>
    <a href="/films/<%= film.id%>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', { url: `/films/${film.id}`}) %>
  </div>
<% }) %>
