<h2>Film Archive</h2>

<div class="btn-column">
  <div class="btn-column-element">
    <a class="btn" href="/filmroulette">Film Roulette</a>
  </div>
  <div class="btn-column-element">
    <a class="btn" href="/films/new">Add new Film</a>
  </div>
  <div class="btn-column-element">
    <a class="btn" href="/films/archive">See Films added by other users</a>
  </div>
</div>

<h3>Search Films</h3>
<form action="/filmroulette/films" method="GET">
  <label>Title</label>
  <input type="text" name="title" value="<%= searchOptions.title %>">
  <button  class="btn" type="submit">Search</button>
</form>

<br>

<% films.forEach(film => { %>
  <div class="film-row">
    <div class="film-title"><%= film.title %></div>
    <div class="btn-row">
      <a class="btn" href="/films/<%= film.id%>">View</a>
      <a class="btn" href="/films/<%= film.id%>/edit">Edit</a>
      <%- include('../partials/deleteForm.ejs', { url: `/films/${film.id}`}) %>
    </div>
  </div>
<% }) %>

<%- include('../partials/userInfo.ejs') %>
