<h2>Film Details</h2>
<div class="film-details-overview">
  <div class="film-details-grid"> 
    <div class="film-details-label">Title: </div>
    <div><%= film.title %></div>
    <div class="film-details-label">Released: </div>
    <div><%= film.released %></div>
    <div class="film-details-label">Genre: </div>
    <div><%= film.genre %></div>
    <div class="film-details-label">Runtime: </div>
    <div><%= film.runtime %></div>
    <div class="film-details-label">IMDB Rating: </div>
    <div><%= film.imdbRating %></div>
    <div class="film-details-label">Rotten Tomatoes Rating: </div>
    <div><%= film.rtRating %></div>
    <div class="film-details-label">Mikelly Rating: </div>
    <div><%= film.mikellyRating %></div>
    <div class="film-details-label">Watched: </div>
    <div> <% if (film.watched) { %> Yes <% } else { %>  No  <% } %></div>
    <div class="film-details-label">Comments: </div>
    <div><%= film.comments %></div>
    <div class="btn-column">
      <div class="btn-column-element"> 
        <a class="btn" href="/films/<%= film.id%>/edit">Edit</a>
      </div>
      <div class="btn-column-element"> 
        <%- include('../partials/deleteForm.ejs', { url: `/films/${film.id}`}) %>
      </div>
      <div class="btn-column-element"> 
        <a class="btn" href="/filmroulette/films">Return to overview</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/userInfo.ejs') %>